<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Quizus{% endblock %} | Quizus</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  {% load static %}
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
        href="https://code.getmdl.io/1.3.0/material.blue-amber.min.css"/>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a href="{% url 'index' %}" class="header__link"><span
          class="mdl-layout-title">
        Quizus</span></a>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Меню</span>
<!--    <nav class="mdl-navigation">-->
<!--      <a class="mdl-navigation__link" href="">Link</a>-->
<!--      <a class="mdl-navigation__link" href="">Link</a>-->
<!--      <a class="mdl-navigation__link" href="">Link</a>-->
<!--      <a class="mdl-navigation__link" href="">Link</a>-->
<!--    </nav>-->
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <h1>
        {% block header %}

        {% endblock %}
      </h1>
      {% block content %}
      <!-- Page content. -->
      {% endblock %}
    </div>
  </main>
    <footer class="mdl-mini-footer">
      <div class="mdl-mega-footer__middle-section">
        &copy; 2020 Кошелев Дмитрий
      </div>
    </footer>
  <script src="{% static 'scripts/script.js' %}"></script>
</body>

</html>